.app {
    display: flex;
    width: 570px;
    justify-content: space-between;
}

.settingsCounter {
    padding: 20px;
    width: 200px;
    height: 130px;
    background-color: burlywood;
    border-radius: 10px;
}

.counterOut {
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 130px;
    background-color: burlywood;
    border-radius: 10px;
}